tr th:first-of-type{
    width: 72px;
}
#rabbishTable thead{
    background-color: rgb(223,240,216);
}
#rabbishTable tbody tr:nth-child(odd){
    background-color: rgb(249,249,249);
}
#rabbishTable tbody tr:hover{
    background-color: rgb(245,245,245);
}
#exit{
    text-decoration: none;
    color: rgb(153,153,153)
}
#exit:hover{
    color: rgb(199,0,78);
}
h6{
    float: right;
    margin-right: 100px;
    font-size: 16px;
}
#top{
    overflow: hidden;
    background-color: #ddd;
}
#picture{
    margin-left: 250px;
}
.operation:hover{
    color: rgb(199,0,78)!important;
}
nav {
    text-align: center;
}

#content{
    margin: 0 115px;
}

table.editTable td {
    padding: 5px;
}
input.form-control {
    width: 290px;
}

